<h2>Precision AI Forestry</h2>
    <ul class="project-list">
         <li  class="project-item" data-project-id="ai-forestry">
            <div class="project-content">
                <img src="assets/images/ai-forestry/precision-forestry/display.png" alt="ai-forestry">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            AI-Driven Insights for Precision Forest Health and Resource Assessment
                        </h3>
                    </div>
                    <p> In this paper, we proposed a coorelationship layer for instance segmenation. In order to distinguish individuls, we evaluate the relationship between every two position in the feature map. As this is a combination problem, this process is time consuming. Since the output still a tensor, we change the explicit evaluation method as CNN layer which geneate the relation map through network. And the explicit method provide the groud truth the relationship map layer. Then connect the relationshape layer to a MLP as </p>
                        <div class="tech-list">
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">IMU</span>
                        <span class="tech-item">Ego motion tracking</span>
                        <span class="tech-item">Feature scarcity scene tracking</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="drone">
            <div class="project-content">
                <img src="assets/images/ai-forestry/drone/display.gif" alt="drone">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Forestry Drone Development
                        </h3>
                    </div>
                    <p>This drone project was initiated in response to DJI's recent product restrictions and bans. 
                        Our original plan was to use DJI drones for remote monitoring, but the increasing uncertainty around their 
                        availability and operability led us to develop our own drone platform to ensure continued access to aerial 
                        capabilities.
                    </p>
                    <p>
                        The initial design targets included:
                        <ul>
                            <li>
                                A payload capacity of 40 kg 
                            </li>
                            <li>
                                A maximum range of 30 km with full load
                            </li>
                            <li>
                                15 km radio control range 
                            </li>
                            <li>
                                10 km local telemetry range 
                            </li>
                            <li>
                                A reserved 5G telemetry interface for future upgrades
                            </li>
                        </ul>
                    </p>                        
                    <p>
                        To enhance autonomous operation, we integrated learning-based algorithms for path planning and targeted route optimization. Additionally, we developed a vision-language model to improve human-drone interaction, enabling more intuitive and effective control through natural language commands.
                    </p>
                    <div class="tech-list">
                        <span class="tech-item">Prototyped Drone</span>
                        <span class="tech-item">Path planning</span>
                        <span class="tech-item">Reinforcement Learning</span>
                        <span class="tech-item">Vision Language Model</span>
                        <span class="tech-item">Whisper</span>
                        <span class="tech-item">CLIP-l/14</span>
                        <span class="tech-item">Llama-3-8B</span>
                        <span class="tech-item">On-going</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
