<h2>Precision AI Forestry</h2>
    <ul class="project-list">
         <li  class="project-item" data-project-id="ai-forestry">
            <div class="project-content">
                <img src="assets/images/ai-forestry/precision-forestry/display.png" alt="ai-forestry">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            AI-Driven Insights for Precision Forest Health and Resource Assessment
                        </h3>
                    </div>
                    <p>
                        We leverage vision-language models to automate labor-intensive tasks traditionally performed by humans. 
                        Our objective is to deploy computational solutions for forest surveillance, nursery monitoring, 
                        and disease control applications. 
                    </p>
                        <div class="tech-list">
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">LLM</span>
                        <span class="tech-item">Vision Language Model</span>
                        <span class="tech-item">Llama-3-8B</span>
                        <span class="tech-item">CLIP-L\14</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="drone">
            <div class="project-content">
                <img src="assets/images/ai-forestry/drone/display.gif" alt="drone">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Forestry Drone Development
                        </h3>
                    </div>
                    <p>
                        This project was initiated in response to the DJI drone ban issued in Texas. 
                        To mitigate the risk of being left without a reliable aerial platform in the future, 
                        we developed our own drone system as a fully independent alternative.
                    </p>
                    <div class="tech-list">
                        <span class="tech-item">Prototyped Drone</span>
                        <span class="tech-item">Path planning</span>
                        <span class="tech-item">Reinforcement Learning</span>
                        <span class="tech-item">ROS2</span>
                        <span class="tech-item">Vision Language Model</span>
                        <span class="tech-item">Whisper</span>
                        <span class="tech-item">CLIP-l/14</span>
                        <span class="tech-item">Llama-3-8B</span>
                        <span class="tech-item">On-going</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
