<h2>Assistant Robot</h2>
    <ul class="project-list">
         <li class="project-item" data-project-id="ai-forestry">
            <div class="project-content">
                <img src="assets/images/leg-robot/display.gif" alt="segmentation">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Assistance Robot for Dementia Care 
                        </h3>
                    </div>
                    <p>This project was a collaborative research effort focused on dementia patient care. 
                        My role was to develop algorithms enabling a robotic dog to recognize individuals, 
                        follow them, and provide timely reminders to help patients avoid missed or duplicate medication doses.
                    </p>
                    <p>
                        To enhance patient interaction, I integrated the LLaMA-2-7B language model and fine-tuned it using LoRA 
                        for generating personalized daily schedules and activity logs. Additionally, I fine-tuned CLIP-L/14 to 
                        improve visual recognition of medications, ensuring reliable monitoring and support in the patient's daily 
                        routine.
                    </p>
                    <div class="tech-list">
                        <span class="tech-item">Human Tracking</span>
                        <span class="tech-item">Locomotion</span>
                        <span class="tech-item">Object Detection</span>
                        <span class="tech-item">SLAM</span>
                        <span class="tech-item">CLIP-l/14</span>
                        <span class="tech-item">Llama-2-7B</span>
                        <span class="tech-item">SLAM</span>
                        <span class="tech-item">ROS2</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="ai-forestry">
            <div class="project-content">
                <img src="assets/images/laser-AR/display.gif" alt="Scene-depth">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Augmented Reality powered construction feild Lofting tool
                        </h3>
                    </div>
                    <p>
T                       his project aims to automate layout measurement in large-scale construction sites using a portable lofting device. 
                        Replacing traditional manual methods, the system combines laser projection with visual-depth sensing to 
                        accurately execute layout tasks. By interpreting building schematics in real time, it significantly reduces human
                        error and improves efficiency—cutting layout time by up to 80%.
                    </p>
                    <div class="tech-list">
                        <span class="tech-item">Real-scale</span>
                        <span class="tech-item">Augmented Reality</span>
                        <span class="tech-item">ILDA Files</span>
                        <span class="tech-item">Prototyped Device</span>
                        <!-- <span class="tech-item"></span> -->
                    </div>
                </div>
            </div>
        </li>
    </ul>
