<div class="content-wrapper">

    <div class="carousel-wrapper">
      <section>
        <img src="assets/images/humanoid/header.gif" alt="featured-work">
      </section>
    </div>
</div>

<div class="content-wrapper">
    <div class="introduction">
        <h1>About</h1>
        <p>My expertise lies in the research and development of machine learning and computer vision systems for robotics. Academically, I focus on applying these techniques to real-world robotic applications. With hands-on experience in both academic and engineering environments, I’m accustomed to rapid development cycles across both software and hardware.</p>
        <p>Driven by the goal of integrating robots into practical, everyday use, I specialize in bridging algorithms with physical systems. I bring strong experience in embedded systems development, rapid prototyping with 3D modeling, and custom hardware design. This background allows me to quickly adapt to new projects and take ownership from concept to deployment. </p>
    </div>

</div>