<h2>Humanoid Projects</h2>

    <ul class="project-list">
        <li class="project-item" data-project-id="humaoid">
            <div class="project-content">
                <img src="assets/images/humanoid/display2.gif" alt="Pet project">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Humanoid Robot Locomotion Simulation 
                        </h3>
                    </div>
                    <!-- <p>This is a simulation study for my 3D printed humanoid project. To build a robot from scatch is a non-trivil task. 
                        So I started to build a simulation environment with <a href="hhttps://mujoco.org/">Mujoco</a>,  and borrow the humanoid model from unitree G1.
                        The purpose of this project is to gain the experience on the reinforcement learning algorithm for the humanoid robot locomotion training, 
                        and hopefully for the study of the future model transfer among from different size robots.  
                    </p>  -->
                    <p>
                        This project is a simulation study for my 3D-printed humanoid robot. 
                        Building a robot from scratch is a non-trivial task, so I began by developing a simulation environment using 
                        <a href="hhttps://mujoco.org/">Mujoco</a>, 
                        leveraging the humanoid model from the Unitree G1 as a reference. 
                        The primary goal is to gain hands-on experience with reinforcement learning algorithms for humanoid locomotion training, 
                        with the long-term objective of exploring model transfer techniques across robots of different sizes.
                    </p>                   
                    <!-- <p><a href="https://www.jnjmedtech.com/en-US/product-family/monarch/" target="_blank" class="contact-item">Company Website</a></p> -->
                    <div class="tech-list"> 
                        <span class="tech-item">Humanoid Robot Simulation</span> 
                        <span class="tech-item">Mujoco</span> 
                        <span class="tech-item">Goal Conditioned Reinforcement Learning</span>
                        <span class="tech-item">Humanoid Robot Locomotion</span> 
                        <span class="tech-item">Reinforcement Learning</span> 
                        <span class="tech-item">PPO</span>
                        <span class="tech-item">SAC</span>
                        <span class="tech-item">GAIL</span>
                    </div>
                </div>
            </div>
        </li>

        <!-- Project 2 -->
        <li class="project-item" data-project-id="humaoid">
            <div class="project-content">
                <img src="assets/images/humanoid/display.gif" alt="Scene-depth">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            3D Printed Humanoid Robot Project
                        </h3>
                    </div>
                    <p>
                        This project was inspired by a long-standing personal interest—I've always wanted to build a robotic butler. 
                        The design prioritizes lightweight construction, concentrating most of the mass in the torso and pelvis to 
                        improve balance and efficiency. Structural components are fabricated using 3D printing, 
                        while the skeleton and support frames utilize laser-cut carbon fiber tubes and plates for strength and rigidity.
                    </p>
                        <p>To minimize size and weight, the actuators are based on axial flux BLDC motors.
                         The drivetrain uses 3D-printed cycloidal reducers, incorporating standard industrial components—such as screws, 
                         metal pins, and bearings—to keep costs low.
                    </p>
                    <p>
                        Currently, version 0.0.1 of the lower-body bipedal design is shown in the image. 
                         I'm in the process of converting the model into an MJCF (MuJoCo XML) file for simulation and 
                         training it to walk using reinforcement learning.
                    </p>
                    <div class="tech-list">
                    <span class="tech-item">3D Printing</span>
                    <span class="tech-item">Axial Flux BLDC</span>
                    <span class="tech-item">FOC</span>
                    <span class="tech-item">Cycloidal Drive</span>
                    <span class="tech-item">MJCF & URDF</span>
                    <span class="tech-item">Pelvis Mass Centered Design Idea</span>
                    <span class="tech-item">Linear Actuator</span>
                    <span class="tech-item">On-going</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
