<h2>Humanoid Robot Projects</h2>

    <ul class="project-list">
        <li class="project-item" data-project-id="humanoid-sim">
            <div class="project-content">
                <img src="assets/images/humanoid/training/isaacgym-terrain.gif" alt="Pet project">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Humanoid Robot Locomotion Simulation 
                        </h3>
                    </div>
                    <!-- <p>This is a simulation study for my 3D printed humanoid project. To build a robot from scatch is a non-trivil task. 
                        So I started to build a simulation environment with <a href="hhttps://mujoco.org/">Mujoco</a>,  and borrow the humanoid model from unitree G1.
                        The purpose of this project is to gain the experience on the reinforcement learning algorithm for the humanoid robot locomotion training, 
                        and hopefully for the study of the future model transfer among from different size robots.  
                    </p>  -->
                    <p>
                        This research focuses on humanoid robot locomotion using machine learning methods,
                         particularly in the areas of reinforcement learning and imitation learning. 
                         The goal is to develop robust locomotion policies in simulation and then transfer them to a custom-built, 
                         3D-printed humanoid robot. This pipeline bridges the gap between simulated learning and real-world application, 
                         enabling scalable and adaptable robot control.
                    </p>                   
                    <!-- <p><a href="https://www.jnjmedtech.com/en-US/product-family/monarch/" target="_blank" class="contact-item">Company Website</a></p> -->
                    <div class="tech-list"> 
                        <span class="tech-item">Humanoid Robot Simulation</span> 
                        <span class="tech-item">Mujoco</span> 
                        <span class="tech-item">Goal Conditioned Reinforcement Learning</span>
                        <span class="tech-item">Humanoid Robot Locomotion</span> 
                        <span class="tech-item">Reinforcement Learning</span> 
                        <span class="tech-item">PPO</span>
                        <span class="tech-item">SAC</span>
                        <span class="tech-item">GAIL</span>
                    </div>
                </div>
            </div>
        </li>

        <!-- Project 2 -->
        <li class="project-item" data-project-id="humanoid">
            <div class="project-content">
                <img src="assets/images/humanoid/display.gif" alt="Scene-depth">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            3D Printed Humanoid Robot Project
                        </h3>
                    </div>
                    <p>
                        I've long envisioned having my own humanoid robot capable of performing real-life tasks. However,
                         existing advanced robots—such as the Tesla Bot, Boston Dynamics’ Atlas, Unitree H and G series, 
                         and Figure AI’s robot—are either not commercially available or priced far beyond individual reach. 
                         As a result, I decided to design and build a low-cost, 3D-printable humanoid robot from scratch.
                         This approach allows for full customization, rapid prototyping, and direct integration of algorithms 
                         tailored for real-world applications.
                    </p>
                    <div class="tech-list">
                    <span class="tech-item">3D Printing</span>
                    <span class="tech-item">Axial Flux BLDC</span>
                    <span class="tech-item">FOC</span>
                    <span class="tech-item">Cycloidal Drive</span>
                    <span class="tech-item">MJCF & URDF</span>
                    <span class="tech-item">Pelvis Mass Centered Design Idea</span>
                    <span class="tech-item">Linear Actuator</span>
                    <span class="tech-item">On-going</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
