<h2>Few Shot Robot Task Learning</h2>
    <ul class="project-list">
         <li class="project-item" data-project-id="robot">
            <div class="project-content">
                <img src="assets/images/Few-shot-Robot-Task-Learning/display2.gif" alt="Robot trainning">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                             EasyTeaching: A Keyframe-Driven Framework for Robotic Manipulation Learning
                        </h3>
                    </div>
                    <p>
                        Empower non-robotics experts to train robots for tasks within their own domains through intuitive interfaces and adaptable learning frameworks.
                    </p>
                    <!-- <p>
                        This is my PhD defense project, The motivation was set to let NON-EXPERT to teach robot learning new task skills. 
                        the problems are the limited task demonstrations, unstructured environment, and no expert goal state setup.
                        For solving these problems, I proposed a task demonstration evaluation method for refine human demon and collected 
                        task execution episodes, a heirarchical reinforcement learning method for trajectory planning and robot movement action 
                        generation, and a latent space exploration network for reduce the state searching space in image data. 
                    </p> -->
                        <div class="tech-list">
                        <span class="tech-item">Latent Space (VAE) for RGBD Data</span>
                        <span class="tech-item">Robot Manipulation</span>
                        <span class="tech-item">Task Trajectory Planning</span>
                        <span class="tech-item">Reinforcement Learning (SAC, GAIL)</span>
                        <span class="tech-item">VAE</span>
                        <span class="tech-item">Hierachical Reinforcment Learning</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="digital-twin">
            <div class="project-content">
                <img src="assets/images/Few-shot-Robot-Task-Learning/display1.gif" alt="Scene-depth">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Teleoperated Colabration Robot Digital Twin
                        </h3>
                    </div>
                    <p>
                        Developed a VR-based teleoperated cobot digital twin for robotic manipulation demonstration and data collection. 
                        The system also supports remote job demonstration and task tryouts, enabling intuitive human-robot interaction 
                        and efficient acquisition of high-quality training data for learning-based controllers.
                    </p>
                    <div class="tech-list">
                        <span class="tech-item">Forward Kinematics</span>
                        <span class="tech-item">Backward Kinematics</span>
                        <span class="tech-item">VR - HTC VIVE</span>
                        <span class="tech-item">Teleoperation</span>
                        <span class="tech-item">ROS</span>
                        <span class="tech-item">Digital Twin</span>
                        <span class="tech-item">Rviz</span>
                        <span class="tech-item">RGB-D-IMU Sensor Fusion</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
